In [91]:
"""
This is only a very coarse first draft to show a way how to read the JSON
to a pandas DF and evaluate it. 
Pls also not that 'test' files would normally not be '.ipynb' files. 
This is just for convenience and it's ok for here. 

FK, 2022-04-18
"""

"\nThis is only a very coarse first draft to show a way how to read the JSON\nto a pandas DF and evaluate it. \nPls also not that 'test' files would normally not be '.ipynb' files. \nThis is just for convenience and it's ok for here. \n\nFK, 2022-04-18\n"

In [1]:
import os
from os import path as op
import pandas as pd
import json

In [89]:
path_in = 'configFiles'  
fname = "StereoFEM_test01.json"

In [90]:
with open(op.join(p_in, fname)) as f:
    data =  json.loads(f.read())

In [86]:
cols = data["trialSequenceKeys"]
df = pd.json_normalize(data, record_path =['trialSequenceValues'])
df2 = pd.DataFrame(df["values"].to_list(), columns=cols)
df3 = df2.astype(dtype={"block_num":"int",
                        "block_type":"int",
                        "stereo":"int",
                        "avatar":"int",
                        "emo":"int",
                        "order":"string"})
df3 = df3.astype({'stereo':'bool'})  # try what happens if we convert to bool directly

     block_num  block_type  stereo  avatar  emo  order
0            0           0    True       1    2  45132
1            0           0   False       3    3  41235
2            0           0   False       3    1  35421
3            0           0    True       1    4  34251
4            0           0   False       3    2  34215
..         ...         ...     ...     ...  ...    ...
739          6           1    True       1    3  51342
740          6           1   False       2    3  25431
741          6           1    True       2    1  12543
742          6           1    True       3    4  34125
743          6           1    True       1    2  15324

[744 rows x 6 columns]

In [92]:
# Filter for exp trials:
df_practice = df3[df3.block_type == 1]
# check counts:
df_practice.groupby(['stereo', 'emo', 'avatar']).count()

                   block_num  block_type  order
stereo emo avatar
False  1   1              30          30     30
           2              30          30     30
           3              30          30     30
       2   1              30          30     30
           2              30          30     30
           3              30          30     30
       3   1              30          30     30
           2              30          30     30
           3              30          30     30
       4   1              30          30     30
           2              30          30     30
           3              30          30     30
True   1   1              30          30     30
           2              30          30     30
           3              30          30     30
       2   1              30          30     30
           2              30          30     30
           3              30          30     30
       3   1              30          30     30
           2              30          30     30
           3              30          30     30
       4   1              30          30     30
           2              30          30     30
           3              30          30     30

In [5]:
def addnums(a, b):
    # this could get awesome awesome  
    return a + b


addnums(2, 3)

5

In [1]:
addints(4,5)

NameError: name 'addints' is not defined

In [ ]:
hand 
addnums(2,5)
is 
best