In [1]:
import os
from os import path as op
import pandas as pd
import json

In [81]:
p_in = 'C:/Users/Felix/Downloads/'
fname = "StereoFEM_test01.json"
os.listdir('configFiles')

['experimentConfig_72trials.json']

In [4]:
with open(op.join(p_in, fname)) as f:
    data =  json.loads(f.read())

In [75]:
cols = data["trialSequenceKeys"]
df = pd.json_normalize(data, record_path =['trialSequenceValues'])
df2 = pd.DataFrame(df["values"].to_list(), columns=cols)
df3 = df2.astype(dtype={"block_num":"int",
                        "block_type":"int",
                        "stereo":"int",
                        "avatar":"int",
                        "emo":"int",
                        "order":"string"})
df3 = df3.astype({'stereo':'bool'})
df3
#df2.dtypes

     block_num  block_type  stereo  avatar  emo  order
0            0           0    True       1    2  45132
1            0           0   False       3    3  41235
2            0           0   False       3    1  35421
3            0           0    True       1    4  34251
4            0           0   False       3    2  34215
..         ...         ...     ...     ...  ...    ...
739          6           1    True       1    3  51342
740          6           1   False       2    3  25431
741          6           1    True       2    1  12543
742          6           1    True       3    4  34125
743          6           1    True       1    2  15324

[744 rows x 6 columns]

In [78]:
df_practice = df3[df3.block_type == 0]
df_practice.groupby(['stereo', 'emo', 'avatar']).count()

                   block_num  block_type  order
stereo emo avatar
False  1   1               1           1      1
           2               1           1      1
           3               1           1      1
       2   1               1           1      1
           2               1           1      1
           3               1           1      1
       3   1               1           1      1
           2               1           1      1
           3               1           1      1
       4   1               1           1      1
           2               1           1      1
           3               1           1      1
True   1   1               1           1      1
           2               1           1      1
           3               1           1      1
       2   1               1           1      1
           2               1           1      1
           3               1           1      1
       3   1               1           1      1
           2               1           1      1
           3               1           1      1
       4   1               1           1      1
           2               1           1      1
           3               1           1      1